<!doctype html>
<html lang="en">
  <head>
    <title>Dwarf Fortress Previewer</title>
  </head>
  <body>
    <canvas id="canvas" width="160" height="192" style="display: none;"></canvas>
    <img id="imageStart" />
    <img id="imageOut" />
  </body>
</html>
